<ul class="nav nav-pills nav-stacked">
    <li class="nav-header"></li>

    <? foreach ($navigation as $item): ?>
        <li>
            <a href="<?= url_for($item['matched.route.name']) ?>" <? if (isset($item['active'])): ?>class="active"<? endif ?>>
                <strong><i class="<?= $item['icon.class'] ?>"></i> <?= $item['title'] ?></strong>
            </a>
        </li>
    <? endforeach ?>
</ul>