<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#page-attributes" aria-controls="page-attributes" role="tab" data-toggle="tab">
            Attributes
        </a>
    </li>
    <li role="presentation">
        <a href="#page-content" aria-controls="page-content" role="tab" data-toggle="tab">
            Content
        </a>
    </li>
</ul>


