<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <?= capture_content() -> toString('headTitle') ?>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <?= capture_content() -> toString('headMeta') ?>

        <?= capture_content() -> toString('headStyle') ?>

        <?= capture_content() -> toString('headScript') ?>
    </head>
    <body>
        <?= render('index/layout/navigation') ?>

        <?= widget('admin.flashMessages') ?>

        <div class="content">
        <?= $content ?>
        </div>

        <?= render('index/layout/footer') ?>
        <?= capture_content() -> toString('inlineScript') ?>
    </body>
</html>