
footer {
    border-top: 1px solid #eee;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.nav > li > a {
    color: #787878;
}

@media screen and (min-width: 768px) {
    footer {
        padding-left: 0;
        padding-right: 0;
    }
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.navbar.navbar-sm {
    min-height: 0;
}

.not-required-fields {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin-bottom: 20px;
    margin-top: 20px;
}

.not-required-fields h4 {
    color: #2f6f9f;
}

.stack > *:not(.active) {
    display: none
}

.dropdown-menu {
    min-width: 140px;
}

#pages-grid {
    margin-top: 20px;
}

#pages-app .tab-content {
    margin: 20px 0;
}

.help-block .fa {
    padding-right: 3px;
}

