<nav>
    <a href="<?= url_for('home') ?>">Home</a> |
    <? if (user_identity() -> hasIdentity()): ?>
        <a href="<?= url_for('logout') ?>">Logout</a>
    <? else: ?>
        <a href="<?= url_for('login') ?>">Login</a>
    <? endif ?>
</nav>
