<? capture_content() -> start('bottomScript'); ?>

    <script src="/scripts/app/Pages/app.js"></script>

<? capture_content() -> end(); ?>


<ul class="list-inline pull-right">

    <li>
        <a href="#/create">
            <strong><i class="fa fa-file-o"></i></strong> New
        </a>
    </li>

    <li class="dropdown">
        <button id="status-list" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            <strong><i class="fa fa-eye"></i></strong> Status <span class="display-value">[All]</span>
            <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li role="presentation">
                <a role="menuitem" tabindex="-1" data-value="0" href="#">All</a>
            </li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" data-value="2" href="#">Public</a>
            </li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" data-value="1" href="#">Draft</a>
            </li>
        </ul>
    </li>

    <li class="dropdown">
        <button id="lang-list" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            <strong><i class="fa fa-language"></i></strong> Language <span class="display-value">[ukr]</span>
            <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" data-display-value="Ukr">Ukraine</a>
            </li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" data-display-value="Rus">Russian</a>
            </li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" data-display-value="Eng">English</a>
            </li>
        </ul>
    </li>

</ul>

<ul class="list-inline">
    <li>
        <a href="#/">
            <strong><i class="fa fa-bars"></i> List</strong>
        </a>
    </li>
</ul>


<hr>

<div id="pages-app" class="row">

    <div id="pages-grid">

    </div>

</div>
