<form class="form-horizontal tab-content" role="form">

    <input type="hidden" name="id" />

    <div role="tabpanel" class="tab-pane active" id="page-attributes">

        <div class="form-group">
            <label for="form-create-title" class="col-sm-2 control-label">Title:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title" id="form-create-title" placeholder="Page title">
            </div>
        </div>

        <div class="form-group">
            <label for="form-create-alias" class="col-sm-2 control-label">Alias:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="alias" id="form-create-alias" placeholder="Page alias">
            </div>
        </div>

        <div class="form-group">
            <label for="form-create-description" class="col-sm-2 control-label">Description:</label>
            <div class="col-sm-10">
                <textarea id="form-create-description" name="description" class="form-control" rows="3" placeholder="Meta description">

                </textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">

                <div class="radio">
                    <label for="form-create-status-draft">
                        <input type="radio" name="status" id="form-create-status-draft" checked value="1">
                        Draft
                    </label>
                </div>
                <div class="radio">
                    <label for="form-create-status-public">
                        <input type="radio" name="status" id="form-create-status-public" value="2">
                        Public
                    </label>
                </div>

            </div>
        </div>

    </div><!-- tabpane -->


    <div class="tab-pane" id="page-content" role="tabpanel">

        <div class="form-group">
            <label for="form-create-content" class="col-sm-2 control-label">Content:</label>
            <div class="col-sm-10">
                <textarea id="form-create-content" name="preparsed_content" class="form-control" rows="10" placeholder="Page content">

                </textarea>
            </div>
        </div>

    </div><!-- tabpane -->

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button data-dojo-attach-point="submitNode" type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-ok"></span> Ok
            </button>

            <button data-dojo-attach-point="cancelNode" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span> Cancel
            </button>

        </div>
    </div>
</form>
