<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap 101 Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <?= capture_content() -> toString('headMeta') ?>

<!--    <link rel="shortcut icon" href="">-->
    <!-- Bootstrap -->
    <link href="<?= base_url() ?>/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?= base_url() ?>/css/vendor/bootstrap/fonts/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="<?= base_url() ?>/css/styles.css" rel="stylesheet">
    <?= capture_content() -> toString('headStyle') ?>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <?= capture_content() -> toString('headScript') ?>
</head>
<body>

    <div id="top-nav" class="navbar navbar-inverse navbar-static-top" role="navigation">

        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <i class="fa fa-tachometer"></i> Dashboard
                </div>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="/">
                            <i class="fa fa-home"></i> Go to site
                        </a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-user fa-fw"></i> Admin <i class="fa fa-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">
                                    <i class="fa fa-user-secret fa-fw"></i> Password
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-gear fa-fw"></i> Settings
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="/logout">
                                    <i class="fa fa-sign-out fa-fw"></i> Logout
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                </ul>
            </div>

        </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container-fluid">
<!--        --><?//= widget('admin.flashMessages') ?>
        <div class="row">
            <div class="col-sm-2">
                <a href="#">
                    <strong><i class="fa fa-wrench"></i> Tools</strong>
                </a>

                <hr>

                <?= widget('admin.navigation') ?>

            </div>


            <div class="col-sm-10" role="main">

                <?= $content ?>

            </div>
        </div> <!-- /.row -->

        <footer>
            <p>
                &copy 2013 All right reserved
            </p>
        </footer>

    </div><!-- /.container -->

    <script>

        var dojoConfig = {
            isDebug: true,
            async: true,
            cacheBust: true,
            locale: 'en',
            packages: [ // paths are relative to vendor/dojo/dojo/dojo.js
                { name: 'core', location: '../../core' },
                { name: 'dstore', location: '../dstore' },
                { name: 'xstyle', location: '../xstyle' },
                { name: 'put-selector', location: '../put-selector'},
                { name: 'dgrid', location: '../dgrid' },
                { name: 'dmodel', location: '../dmodel' },
                { name: 'pages', location:  '../../app/Pages'},
                { name: 'dtbootstrap', location: '../dTBootstrap'}
            ]
        };

    </script>

    <script src="/scripts/vendor/dojo/dojo.js"></script>

    <?= capture_content() -> toString('bottomScript') ?>
</body>
</html>