<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>404 Not Found</title>
    </head>

    <body>
        <h1>Houston, we have a problem</h1>
        <p>
            The page that you have requested could not be found.
        </p>
    </body>
</html>